/*-----------HIGH LEVEL ELEMENTS----------*/
body {
	padding: 0;
	margin: 0;
	/*font-family: 'Ropa Sans', sans-serif;*/
	/*font-family: 'Lustria', serif;*/
	font-family: 'Alegreya', serif;
	font-size: 62.5%;
}
body, #entry {
	background: #22252a;
	color: #fff;
}
body, table {
	line-height: 1.4;
	overflow: auto;
}
tr,td,table {
	padding: 0;
	margin: 0;
	outline-width: 0;
	border-width: 0;
	overflow: auto;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	overflow: auto;
}

a { text-decoration: none; color: #fff; }
a:hover { text-decoration: underline; color: #fff; }

div.container
{
	margin-right:auto;
	margin-left:auto;
	margin-top:0px;
	margin-bottom:0px;
	width:70%;
	min-width:1374px;
	max-width:1374px;
	overflow:hidden;
	font-size: 1.4em;
}
/*-----------LOGIN ELEMENTS-----------*/
#loading, #connect {
  background: #22252a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
}

#loading { z-index: 10000000; }
#connect { z-index: 10000001; }

#loading p, #connect fieldset  {
  font-family: Helvetica; 
  width: 30em;
  border: 0;
}


#avatarArea {
	position: fixed;
	bottom: 0;
	height: 50%;
	width: 33%;
	left: 33%;
}
/*#volumeSlider {
	width: 24;
	color: #fff;
	height: 220;
	bottom: 0;
	left: 18;
	border: 1;
	background-image: url('http://developer.yahoo.com/yui/slider/images/bg-v.gif');
	background-repeat: no-repeat;
}*/
#avatarBackground {
	position: fixed;
	width: 100%;
	bottom: 0;
}

#queueHolder {
	position: fixed;
	width: 33%;
	height: 50%;
	bottom: 0;
	right: 0;
}

/*-----------VIDEO PLAYER ELEMENTS----------*/
#vidHolder { 
	display:inline:block;
	float:left;
	margin:20px 0px 20px 0px;
}
#progBar .yui-pb  {
    background-color: #22252a;
    background-image: none;
}
 
#progBar .yui-pb-bar {
    background-color: #680A0A;
    background-image: none;
}
 
#progBar .yui-pb-mask {
    border: none;
    margin: 0;
}
#vidControlsHolder
{
	display:inline-block;
	border: 2px solid #42413E;
	border-style: ridge;
	background:#22252a; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#22252a', endColorstr='#ADADAD'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#22252a), to(#ADADAD)); /* for webkit  browsers*/
    background: -moz-linear-gradient(top,  #22252a,  #ADADAD); /* for firefox 3.6+ */
	margin:20px 0px 20px 0px;
	position:relative;
	float:left;
	width: 24px;
	overflow:hidden;
	height:399px;
}
#volumeSlider {
	height: 220;
	background-image: url('http://developer.yahoo.com/yui/slider/images/bg-v.gif');
	background-repeat: no-repeat;
}
/*-----------CHAT ELEMENTS----------*/
#chatHolder {
	display:inline-block;
	border: 2px solid #42413E;
	border-style: ridge;
	background: #22252A;
	margin:20px 3px 20px 0px;
	position:relative;
	float:left;
	width: 300px;
	overflow:hidden;
	height:399px;
}
#logHolder {
	display: inline-block;
	overflow-y: auto;
	overflow-x:hidden;
	width: 100%;
	height: 322px;
}
#log {
	display:inline-block;
	width: 100%;	
	color: white;
	background: inherit;
}
#toolbar {
  display: inline-block;
  position:absolute;
  color: #fff;
  border-top-style: ridge;
  border-top: 2px solid #100202;
  width: 100%; 
  bottom: 0px; /* for non-css3 browsers */
  background:#686868; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#686868', endColorstr='#000000'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#686868), to(#000000)); /* for webkit browsers*/
  background: -moz-linear-gradient(top,  #686868,  #000000); /* for firefox 3.6+ */
}
#status
{
	height:25px;
}
#entry {
  width: 100%;
  font-size: inherit;
  color:#000000;
  padding: 1em;
  margin: 0;
  background:#ADADAD; 
  border-width: 0;
  outline-width: 1;
  clear: both;
}
/*-----------SEARCH ELEMENTS----------*/
#searchHolder {
	display:inline-block;
	border: 2px solid #42413E;
	border-style: ridge;
	background: #22252a;
	margin:20px 0px 20px 3px;
	position:relative;
	float:left;
	width: 350px;
	overflow:hidden;
	/*height:399px;*/
}
#searchExpander {
	display:inline-block;
	width: 100%;
	padding: 2px;
}
#nsearchResultsHolder {
}
/*div#searchResultList, ul#searchResultList, form#searchResultList {
    background: none repeat scroll 0 0 #00000;
	text-align:left
}*/
#search_input {
  background-color: #fff;
  width: 700px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
#videoSearchForm
{
	display:inline-block;
	width: 95%;
	margin: 5px;
}
#youtubeSeachInput {
	width: 65%;
	line-height: 1.7;
}
#resultsList
{
	display:inline-block;
	height:340px;
	width:100%;
	overflow-y:auto;
}
#searchResultList  {
	list-style-type: square;
	list-style-position:outside;
	-webkit-padding-start: 28px;
	
}
/*-----------VIDEO QUEUE ELEMENTS----------*/
#videoQueueHolder {
	display:inline-block;
	border: 2px solid #42413E;
	border-style: ridge;
	background: #22252a;
	margin:0px 0px 20px 3px;
	position:relative;
	float:right;
	width: 300px;
	overflow:hidden;
	height:399px;
}

/*-----------USER QUEUE ELEMENTS----------*/
#userQueueHolder {
	display:inline-block;
	border: 2px solid #42413E;
	border-style: ridge;
	background: #22252a;
	margin:-18px 0px 20px 3px;
	position:relative;
	float:left;
	width: 300px;
	overflow:hidden;
	height:399px;
}

/* not very important info */
.notice td, .join td, .part td, .message .date { color: #fff; }
.error td { color: #933; }
.personal .nick, .notice .nick { color: #fff; }

.message {
  margin: 0.1em 0;
}

.message td {
  vertical-align: top;
}

.nick { 
  font-weight: bold;
  padding: 0 1em 0 0.5em;
}

.nick a {
  color: inherit;
}

#toolbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#toolbar li {
  display: block; 
  float: left;
  margin: 0 2em 0 0;
}

#usersLink {
  color: inherit;
}
#video_listing {
  background-color: #fff;
  width: 700px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

#errors {
  background-color: #8F0000;
  width: 700px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  color: #fff;
  
}

.error_heading {
  font-size: 125%;
}

.listing_title {
  font-size: 125%;
  font-weight: bold;
  color: #2FBFAF;
}

input, select  {
  background-color: #eee;
  border: 1px solid #4E0808;
}

input {
    color: #555;

}
input:hover {
  color: #000;
  background-color: #fff;
}

.note {
  font-size: 80%;
  color: #666;
}

table.query_params {
  font-size: 80%;
}

td.search_param {
  text-align: center;
  width: 200px;
  border-right: 1px solid #eee;
}

td.code {
  /* td showing code and search again link */
  vertical-align: top;
  text-align: left;
  font-size: 80%;
  padding-left: 10px;
  width: 400px;
}

td.code pre {
  background-color: #eee;
  padding: 10px;
  color: #444;
  border: 1px solid #aaa;
}
table.video_table {
  border: none;
}

.thumbnail {
  vertical-align: top;
  width: 130px;
  padding-right: 5px;
  horizontal-align: left;
  border-right: 1px solid #ddd;
}

.video_category {
  font-size: 85%;
}

.video_published {
  font-size: 85%;
  color: #2FBFAF;
}

.video_title {
  font-size: 110%;
}

.video_description {
  font-size: 85%;
  line-height: 120%;
  color: #2F2F2F;
}

.video_keywords {
  color: #666;
  font-size: 75%;
}

.video_rating {
  color: #666;
  font-size: 70%;
}

.format_link {
  font-size: 70%;
  
  
}
.slight {
  border: none;
  border-bottom: 1px solid #ddd;
}

.yui-button button,
.yui-button a {
    outline: none;
	color: #666;
}